@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
  
  }
h1{
    font-family: 'Montserrat Variable', sans-serif;
}
h2,h3,h4,h5,h6{
  color: #333333;
}
